<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="heard">
        <h1>About Us</h1>
        <button class="backmain" onclick="document.location='./'">Back to main</button>
    </div>
    <div class="mein">
        <div class="item1">
            <h2>Тимлид:</h2>
            <h3>Бельский Дмитрий</h3>
        </div>
        <div class="item2">
            <h2>Дизайнеры:</h2>
            <h3>Бельский Дмитрий</h3>
            <h3>Мирончук Дмитрий</h3>
            <h3>Коновалов Павел</h3>
        </div>
        <div class="item3">
            <h2>Разработчики:</h2>
            <h3>Бельский Дмитрий</h3>
            <h3>Безусов Павел</h3>
            <h3>Дрей Софья</h3>
        </div>
    </div>
</body>
</html>