<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="/add.css">
</head>
<body>
    <h1>Hello World</h1>
    <table>
        <form>
            <tr><legend>Добавляем товар:</legend>
                <tr>
                    <td>Название товара:<input type="text" name="Name" placeholder="Имя"></td>
                </tr>
                <tr>
                    <td><label>Категория товара:<input type="text" name="Category" placeholder="Категория"></label></td>
                </tr>
                <tr>
                    <td><label>Арткул товара:<input type="number" name="Articul" placeholder="Арткул"></label></td>
                </tr>
                <tr>
                    <td><label>Цвет товара:<input type="text" name="Сolor" placeholder=" Цвет"></label></td>
                </tr>
                <tr>
                    <td><label>Размер товара:<input type="number" name="Size" placeholder="Размер"></label></td>
                </tr>
                <tr>
                    <td><label>Колличество товара:<input type="number" name="How many" placeholder="Кол-во"></label></td>
                </tr>
                <tr>
                    <td><label>Цена товара:<input type="number" name="Count" placeholder="Цена"></label></td>
                </tr>
                <tr>
                    <td><label>Бренд товара:<input type="text" name="Brand" placeholder="Бренд"></label></td>
                </tr>
                <td><label><button type="submit">Отправить на сервер!</button><button type="reset">Очистить поля!</button></label></td>
            </tr>    
        </form>
    </table>
    <script src="/collection.js"></script>
</body>
</html>